.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh; /* Centra todo verticalmente */
  }
  
  .row {
    display: flex;
    gap: 10px; /* Espacio entre elementos en la fila */
    margin-top: 20px; /* Espaciado superior */
  }
  
  .title {
    margin-bottom: 20px; /* Espacio entre el título y el primer contenedor */
  }
  
  .checkbox-container {
    margin-top: 20px; /* Espaciado superior para el checkbox */
  }